@import '../breakpoints';

body {
  background-attachment: fixed;
  background-size: cover;
  background-image: url("../assets/background.png");

  @include media-breakpoint-down('sm') {
    background-position: center;
  }
}

.dashboard__page {
}
