@import '../breakpoints';

body {
  cursor: url("http://downloads.totallyfreecursors.com/thumbnails/magic-wand-ani.gif"), url("http://downloads.totallyfreecursors.com/cursor_files/magicwandani.cur"), auto;

  background-attachment: fixed;
  background-size: cover;
  background-image: url("../assets/background.png");

  @include media-breakpoint-down('sm') {
    background-position: center;
  }
}

.dashboard__page {
}
