.dashboard-content__component {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  padding: 20px;
  border-radius: 25px;

  .dashboard-content--current-week-title {
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
  }

  .house-points__component {
    text-align: center;
  }

  .house-points--house-name {
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
    width: 100%;
  }

  .-gryffindor {
    text-shadow: 0px 0px 15px #B90000;
  }

  .-hufflepuff {
    text-shadow: 0px 0px 15px #FCB600;
  }

  .-ravenclaw {
    text-shadow: 0px 0px 15px #005387;
  }

  .-slytherin {
    text-shadow: 0px 0px 15px #005606;
  }

  .house-points--points {
    color: white;
    font-size: 64px;
    font-weight: bold;
    width: 100%;
  }

  .house-points--crest {
    width: 100%;
    img {
      border-radius: 30px;
      width: 100px;
      height: 100px;
    }
  }

  img {
    height: auto;
  }

  .dashboard-content--dumbledore-button {
    background-image: url("../../assets/potter_teacher_wizard.png");
    background-size: 50px 50px;
    height: 50px;
    width: 50px;

    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}

.-is-gryffindor-winning {
  .dashboard-content--current-week-title {
    color: #B90000;
    text-shadow:
     -1px -1px 0 #E5AA0A,
      1px -1px 0 #E5AA0A,
     -1px  1px 0 #E5AA0A,
      1px  1px 0 #E5AA0A;
  }
}

.-is-hufflepuff-winning {
  .dashboard-content--current-week-title {
    color: #FCB600;
    text-shadow:
     -3px -3px 0 #000,
      3px -3px 0 #000,
     -3px  3px 0 #000,
      3px  3px 0 #000;
  }
}

.-is-ravenclaw-winning {
  .dashboard-content--current-week-title {
    color: #0063A7;
    text-shadow:
     -1px -1px 0 #C79A2B,
      1px -1px 0 #C79A2B,
     -1px  1px 0 #C79A2B,
      1px  1px 0 #C79A2B;
  }
}

.-is-slytherin-winning {
  .dashboard-content--current-week-title {
    color: #005606;
    text-shadow:
     -1px -1px 0 #989999,
      1px -1px 0 #989999,
     -1px  1px 0 #989999,
      1px  1px 0 #989999;
  }
}
